@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DAL.Models.CSR
@{
    var Title = ViewBag.Title;
}

<dl>
    <dt>@Html.LabelFor(c => c.FileName)</dt>
    <dd>@Html.DisplayFor(c => c.FileName)</dd>
</dl>
<dl>
    <dt>@Html.LabelFor(c => c.FileSize)</dt>
    <dd>@Html.DisplayFor(c => c.FileSize)</dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.Organization)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.Organization)
    </dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.OrganizationUnitName)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.OrganizationUnitName)
    </dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.CommonName)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.CommonName)
    </dd>
</dl>
@if(Model is not null && !string.IsNullOrEmpty(Model.AlternateNames))
{
    <dl>
        <dt>
            @Html.LabelFor(c => c.AlternateNamesList)
        </dt>
        <dd>
            <ul>
            @foreach (string item in Model.AlternateNamesList)
            {
                <li>@item</li>
            }
            </ul>
        </dd>
    </dl>
}
<dl>
    <dt>
        @Html.LabelFor(c => c.EMailAddress)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.EMailAddress)
    </dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.CountryCode)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.CountryCode)
    </dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.Locality)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.Locality)
    </dd>
</dl>
<dl>
    <dt>
        @Html.LabelFor(c => c.State)
    </dt>
    <dd>
        @Html.DisplayFor(c => c.State)
    </dd>
</dl>

<br />
@Html.ActionLink("Back to Index", "Index", "CSR")