@model Backend.Models.CSRDetailViewModel

@{
    ViewData["Title"] = "Certificate Request Details";
}

<h1>Certificate Request Details</h1>

<div>
    <h4>@(Model?.IsSigned == true ? "Signed Certificate Details" : "CSR Details")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationUnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationUnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
@if(Model is not null && Model.AlternateNames.Any())
{
        <dt class="col-sm-2">
            @Html.LabelFor(c => c.AlternateNames)
        </dt>
        <dd class="col-sm-10">
            <ul class="list-unstyled mb-0">
            @foreach (string item in Model.AlternateNames)
            {
                <li><span class="badge bg-light text-dark border">@item</span></li>
            }
            </ul>
        </dd>
}
@if(Model is not null && Model.KeyUsages.Any())
{
        <dt class="col-sm-2">
            @Html.LabelFor(c => c.KeyUsages)
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.KeyUsages)
        </dd>
}
@if(Model is not null && Model.Purposes.Any())
{
        <dt class="col-sm-2">
            @Html.LabelFor(c => c.Purposes)
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Purposes)
        </dd>
}
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedOn)
        </dd>
    </dl>
    @if (Model is not null && Model.IsSigned.Equals(true))
    {
        <h4>Issuance Information</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SignedOn)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SignedOn)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NotBefore)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NotBefore)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NotAfter)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NotAfter)
            </dd>
            <dt class = "col-sm-2">
                <span class="badge @(Model.IsValid ? "bg-success" : "bg-danger")">@(Model.IsValid ? "Valid" : "Expired/Invalid")</span>
            </dt>
            <dd class = "col-sm-10">
                <a asp-action="DownloadCertificate"
                 asp-route-id="@Model.Id"
                        class="btn btn-success btn-sm">
                    <i class="bi bi-download"></i> Download Certificate
                </a>
            </dd>
        </dl>
    }
</div>
<div class="mt-4">
    <a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back to List</a>

    @if (Model is not null
         && Model.OriginalRequestId is not null
         && Model.IsSigned.Equals(false))
    {
        <a asp-action="Process" asp-route-id="@Model.OriginalRequestId" class="btn btn-secondary ms-2">
            <i class="bi bi-check-lg"></i> Process CSR
        </a> 
    }
</div>
